{% extends "network/layout.html" %}


{% block body %}
    <div class="profile-header">
        <h2>Posts of {{ profile }}</h2>
        {% if user.is_authenticated and profile != user.username %}
            <form method="post">
                {% csrf_token %}
                {% if user in followers %}
                    <input type="submit" id="follow" class="btn btn-primary" value="Unfollow">
                {% else %}
                    <input type="submit" id="follow" class="btn btn-primary" value="Follow">
                {% endif %}
            </form>
        {% endif %}
    </div>
    <div class="followers-info">
        <table>
            <tr>
                <td>Followers:</td>
                <td id="followers-count">{{ followers.count }}</td>
                <td>Followings:</td>
                <td id="followings-count">{{ followings.count }}</td>
            </tr>
        </table>
    </div>
    <div id="twitts">
        {% for post in posts %}
            <div class="twitt">
                <div class="user"><a href="{% url 'profile' post.user%}">{{ post.user }}</a></div>
                <div class="body">{{ post.body }}</div>
                <div class="timestamp">{{ post.timestamp }}</div>
                <form method="put" name="post-like" action="{% url 'profile' post.user %}">
                    <div class="likes">
                        {% if user.is_authenticated %}
                            {% if user in post.likes_count.all %}
                                <button type="submit" class="like-post" data-post-id="{{ post.id }}" data-liked="true">❤️</button>
                            {% else %}
                                <button type="submit" class="like-post" data-post-id="{{ post.id }}" data-liked="false">🤍</button>
                            {% endif %}
                        {% else %}
                            <span>❤️</span>
                        {% endif %}
                        <span id="likes-count-{{ post.id }}" class="counter">{{ post.likes_count.all.count }}</span>
                    </div>
                </form>
            </div>
        {% empty %}
            <div class="empty-div">
                Nothing to see here :|
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.paginator.num_pages > 1 %}
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1" aria-label="First"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for page in posts.paginator %}
                    {% if page.number == posts.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page.number }}">{{ page.number }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Last"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}
