#new-post {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
}


#create-new-post {
    display: grid;

}


#post-content {
    width: 100%;
    margin-bottom: 10px;
    resize: none;
    min-height: 100px;
    overflow: hidden;
    justify-self: center;
}


#submit-new-post {
    max-width: 75px;
    justify-self:right;
}


.twitt {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}


.like-post {
    background: none;
    border: none;
    padding: 0;
}


.like-post:focus {
    outline: none;
}


.profile-header {
    display:inline-flex;
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    vertical-align:bottom;
}


.profile-header input[type="submit"] {
    margin-left: 15px;
}


.followers-info table {
    color: #969393;
    margin-left: 35px;
    margin-top: 0;
    margin-bottom: 20px;
}


.empty-div {
    color: #969393;
    font-size: x-large;
    text-align: center;
    margin: 50px;
}