.new-post-div {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

#new-post {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 80%;
    justify-self: center;
}


#create-new-post {
    display: grid;
    width: 100%;
}


#post-content {
    width: 100%;
    margin-bottom: 10px;
    resize: none;
    min-height: 100px;
    overflow: hidden;
    justify-self: center;
}


#submit-new-post {
    max-width: 75px;
    justify-self:right;
}


#twitts {
    display: grid;
}


.header-h2 {
    display: inline-flex;
}


.twitt {
    border: 2px solid #e0e0e0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 80%;
    justify-self: center;
}


.body-post {
    margin-bottom: 10px;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.timestamp {
    color: grey;
    font-size: small;
}


.like-post {
    background: none;
    border: none;
    padding: 0;
}


.like-post:focus {
    outline: none;
}


.counter {
    color: grey;
}


.user {
    margin-bottom: 10px;
}


.user a{
    font-weight: bold;
    font-size: large;
}


.user a:hover {
    text-decoration: none;
}


.likes {
    margin-bottom: 5px;
    margin-top: 5px;
}


.profile-header {
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    vertical-align: bottom;
    width: 80%;
    justify-self: center;
}


.profile-header input[type="submit"] {
    margin-left: 15px;
}


.followers-info table {
    color: #969393;
    margin-top: 0;
    margin-bottom: 20px;
}


.empty-div {
    color: #969393;
    font-size: x-large;
    text-align: center;
    margin: 50px;
}


.edit-content {
    width: 100%;
    resize: none;
    overflow: hidden;
}


.twitt .body {
    overflow-wrap: break-word;
}


.button-div {
    display: inline-flex;
}


.cancel-button {
    margin-left: 8px;
}